* {
    margin: 0;
    padding: 0;
}
body {
    background-color: rgb(230, 223, 221);
}
h2 {
    background-color: antiquewhite;
    color: darkblue;
}
.yazi {
    width: 70%;
    color: crimson;
}
table {
    margin: 10px auto;
    background-color: blueviolet;
    padding: 50px;
}
h1 {
    font-size: 20px;
}
.fixed {
    position: fixed;
}
.small {
    width: 70%;
    height: auto;
    background-color: beige;
}
.center {
    display: flex;
    justify-content: center;
}
.workbench {
    font-family: "Workbench", sans-serif;
}
.links {
    border: 1px solid #fff;
    display: flex;
    justify-content: flex-end;
}
.login {
    margin-left: 20px;
}
.menu {
    display: flex;
    justify-content: space-between;
}
.date {
    justify-content: flex-start;
}
.fstar {
    justify-content: flex-start;
}
.spcbtw {
    justify-content: space-between;
}
.nav {
    padding-top: 0px;
    display: flex;
    justify-content: space-evenly;
    align-self: center;
    padding-bottom: 0px;
    overflow: hidden;
    flex-wrap: wrap;
    max-width: 100%;
    height: auto;
    flex-direction: row;
    align-content: center;
}
.navbox {
    display: flex;
    justify-content: center;
    align-self: center;
    padding-bottom: 50px;
    overflow: hidden;
    padding-top: 50px;
    padding-left: 10%;
    padding-right: 10%;
}
.left {
    padding-top: 5%;
    display: flex;
    justify-content: space-evenly;
    position: relative;
    padding-bottom: 5%;
    overflow: hidden;
    flex-wrap: wrap;
    max-width: 100%;
    height: auto;
    flex-direction: column;
    padding-left: 1%;
}
.reddit-mono {
    font-family: "Reddit Mono", monospace;
    font-weight: bold;
}
.reddit-m {
    font-family: "Reddit Mono", monospace;
    font-weight: normal;
}
.bold {
    font-weight: bold;
}
.large {
    font-size: larger;
}
.x-large {
    font-size: x-large;
}
.xxl {
    font-size: xx-large;
}
.spacing {
    padding: 3%;
}
a {
    text-decoration: none;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}
a:hover {
    background-color: rgb(255, 255, 255);
}
.flex-container {
    display: flex;
    max-width: 50%;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    padding: 0;
    color: #000;
}
.flex {
    display: flex;
}
.column-flex {
    flex-direction: column;
}
.flex-item {
    align-self: flex-start;
    height: auto;
    flex-direction: row;
}
.header-container {
    color: #5995da;
    background-color: #d6e9fe;
    display: flex;
    justify-content: center;
}
.header {
    width: 900px;
    height: 300px;
    display: flex;
    justify-content: space-between;
}
.poppins-light {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
}
.research-container {
    display: flex;
    justify-content: center;
    max-width: 100%;
    margin: auto;
    flex-wrap: wrap;
    align-items: center;
}
.arch-design {
    display: flex;
    justify-content: space-around;
    max-width: 600px;
    height: auto;
    margin: auto;
    padding: 0 0 10px 0;
}
.smaller {
    width: 10%;
    height: auto;
    background-color: rgb(230, 223, 221);
}
.italic {
    font-style: italic;
}
.new-section {
    background-color: black;
    padding: 10px;
    margin: 10px;
}
.hidden {
    display: none;
}
